.navLink{
    text-decoration: none;
    color:rgba(8, 8, 8, 0.616)
}

.navLink:hover{
    text-decoration: none;
    color:red;
}

.navBtn{
  padding: 10px 20px;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
  background-color:red;
  border:none;
  color:white;
  border-radius:10px;
  box-shadow:2px 2px 3px black;
  text-decoration: none;
  font-weight: bold;

}